<table mat-table [dataSource]="episodes" class="mat-elevation-z8">

  <ng-container matColumnDef="season">
    <th mat-header-cell *matHeaderCellDef>Season</th>
    <td mat-cell *matCellDef="let episode">{{episode.seasonNumber}}</td>
  </ng-container>

  <ng-container matColumnDef="episode">
    <th mat-header-cell *matHeaderCellDef>Episode</th>
    <td mat-cell *matCellDef="let episode">{{episode.episodeNumber}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let episode">{{episode.name}}</td>
  </ng-container>

  <ng-container matColumnDef="aired">
    <th mat-header-cell *matHeaderCellDef>Aired</th>
    <td mat-cell *matCellDef="let episode">{{episode.airDate | date}}</td>
  </ng-container>

  <ng-container matColumnDef="summary">
    <th mat-header-cell *matHeaderCellDef>Plot</th>
    <td mat-cell *matCellDef="let episode">{{episode.summary}}</td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="tableHeaders"></tr>
  <tr mat-row *matRowDef="let row; columns: tableHeaders;"></tr>
</table>
